/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */


.table > tbody > tr > td {
     vertical-align: middle;
}

/**
 * The spinner
 * http://www.css-spinners.com/spinner/throbber
 */
@-moz-keyframes loader {
  0% {background: #dde2e7;}
  10% {background: #6b9dc8;}
  40% {background: #dde2e7;}
}
@-webkit-keyframes loader {
  0% {background: #dde2e7;}
  10% {background: #6b9dc8;}
  40% {background: #dde2e7;}
}
@keyframes loader {
  0% {background: #dde2e7;}
  10% {background: #6b9dc8;}
  40% {background: #dde2e7;}
}
/* :not(:required) hides these rules from IE9 and below */
.loader:not(:required) {
  -moz-animation: loader 2000ms 300ms infinite ease-out;
  -webkit-animation: loader 2000ms 300ms infinite ease-out;
  animation: loader 2000ms 300ms infinite ease-out;
  background: #dde2e7;
  display: inline-block;
  position: relative;
  text-indent: -9999px;
  width: 0.9em;
  height: 1.5em;
  margin: 0 1.6em;
}
.loader:not(:required):before, .loader:not(:required):after {
  background: #dde2e7;
  content: '\x200B';
  display: inline-block;
  width: 0.9em;
  height: 1.5em;
  position: absolute;
  top: 0;
}
.loader:not(:required):before {
  -moz-animation: loader 2000ms 150ms infinite ease-out;
  -webkit-animation: loader 2000ms 150ms infinite ease-out;
  animation: loader 2000ms 150ms infinite ease-out;
  left: -1.6em;
}
.loader:not(:required):after {
  -moz-animation: loader 2000ms 450ms infinite ease-out;
  -webkit-animation: loader 2000ms 450ms infinite ease-out;
  animation: loader 2000ms 450ms infinite ease-out;
  right: -1.6em;
}


/* ==========================================================================
   Smart table stuff
   ========================================================================== */
[st-sort]::before {
  content: "⬍"
}

.st-sort-ascent::before {
    content: "⬆";
}
.st-sort-descent::before {
    content: "⬇";
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}