<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script type="text/javascript" src="bower_components/angular-ui-mask/dist/mask.js"></script>
        <script type="text/javascript" src="bower_components/angular-smart-table/dist/smart-table.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/stDateFilter.js"></script>
        <script type="text/javascript">
        </script>
    </head>
    <body ng-app="myApp">
        <!--[if lt IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->


        <div class="container" ng-controller="dataCtrl">
            <h2>Admin - running studies</h2>

            <table st-table="displayedCollection" st-safe-src="rowCollection" class="table table-striped table-hover" ng-controller="tableCtrl" st-set-filter="stCustomFilter">
                <thead>
                    <tr>
                        <th colspan="2"><input st-search="" class="form-control" placeholder="global search ..." type="text"/></th>
                        <th colspan="4" class="form-inline" st-between-dates="creationDate">
                            After: <input type="text" class="form-control" ng-model="afterDate" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" model-view-value="true"/>
                            Before: <input type="text" class="form-control" ng-model="beforeDate" ui-mask="99/99/9999" placeholder="MM/DD/YYYY" model-view-value="true"/>
                        </th>
                    </tr>
                    <tr ng-controller="addStudyCtrl" class="info">
                        <th colspan="6" class="text-center">
                            <div ng-if="pending" class="loader">Loading...</div>
                            <button ng-if="!pending" class="btn btn-default" type="button" ng-click="add()">
                                <span class="glyphicon glyphicon-plus"></span> Add new study
                            </button>
                        </th>
                    </tr>
                    <tr ng-if="!displayedCollection.length" class="info">
                        <th colspan="6" class="text-center"><i>There are no studies defined yet</i></th>
                    </tr>
                    <tr>
                        <th st-sort="studyId">ID</th>
                        <th st-sort="studyUrl">URL</th>
                        <th st-sort="rulesUrl">rules</th>
                        <th st-sort="creationDate">Date Added</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="row in displayedCollection">
                        <td>{{row.studyId}}</td>
                        <td><a href="{{row.studyUrl}}">{{row.studyUrl}}</a></td>
                        <td>{{row.rulesUrl}}</td>
                        <td>{{row.creationDate | date:'short'}}</td>
                        <td ng-switch="row.studyStatus">
                            <span ng-switch-when="R" class="label label-success">Running</span>
                            <span ng-switch-when="P" class="label label-warning">Paused</span>
                            <span ng-switch-when="S" class="label label-danger">Stopped</span>
                        </td>

                        <td>
                            <div ng-if="row.$pending" class="loader">Loading...</div>

                            <div ng-if="!row.$pending">
                                <span ng-switch="row.studyStatus">
                                    <button ng-switch-when="P" class="btn btn-success" type="button" ng-click="play(row)">
                                        <span class="glyphicon glyphicon-play"></span>
                                    </button>

                                    <button ng-switch-when="R" class="btn btn-info" type="button" ng-click="pause(row)">
                                        <span class="glyphicon glyphicon-pause"></span>
                                    </button>
                                </span>

                                <button class="btn btn-danger" type="button" ng-click="remove(row)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>
                            </div>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <script type="text/ng-template" id="addPoolStudy.jst">
            <div class="modal-header">
                <h3 class="modal-title">Add new Study</h3>
            </div>
            <div class="modal-body">
                <div ng-form="studyForm">
                    <div class="form-group" ng-class="{'has-error':studyForm.userEmail.$invalid && submitted, 'has-success':studyForm.userEmail.$valid}">
                        <label class="control-label">User Email</label>
                        <input type="email" class="form-control" ng-model="study.userEmail" placeholder="Email" ng-required="true" name="userEmail">
                        <span class="help-block" ng-show="studyForm.userEmail.$invalid && submitted">This row is required and must be a valid Email</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':studyForm.studyUrl.$invalid && submitted, 'has-success':studyForm.studyUrl.$valid}">
                        <label class="control-label">Study URL</label>
                        <input type="text" class="form-control" ng-model="study.studyUrl" placeholder="URL" ng-required="true" name="studyUrl">
                        <span class="help-block" ng-show="studyForm.studyUrl.$invalid && submitted">This row is required</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':studyForm.rulesUrl.$invalid && submitted, 'has-success':studyForm.rulesUrl.$valid}">
                        <label class="control-label">Rules file URL</label>
                        <input type="text" ng-model="study.rulesUrl" placeholder="Rules file" typeahead="rule for rule in ruleArr | filter:$viewValue" class="form-control"  ng-required="true" name="rulesUrl">
                        <span class="help-block" ng-show="studyForm.rulesUrl.$invalid && submitted">This row is required</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':studyForm.targetSessions.$invalid && submitted, 'has-success':studyForm.targetSessions.$valid}">
                        <label class="control-label">Target number of sessions</label>
                        <input type="number" class="form-control" ng-model="study.targetSessions" ng-required="true" min="1" name="targetSessions">
                        <span class="help-block" ng-show="studyForm.targetSessions.$invalid && submitted">This row is required and has to be an integer above 0</span>
                    </div>
                    <div class="form-group" ng-class="{'has-error':studyForm.pauseUrl.$invalid && submitted, 'has-success':studyForm.pauseUrl.$valid}">
                        <label class="control-label">Auto-pause file URL</label>
                        <input type="text" ng-model="study.pauseUrl" placeholder="auto pause file url" typeahead="pause for pause in pauseArr | filter:$viewValue" class="form-control" ng-required="true" name="pauseUrl">
                        <span class="help-block" ng-show="studyForm.pauseUrl.$invalid && submitted">This row is required</span>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div ng-show="pending" class="text-center">
                    <span class="loader">Loading...</span>
                </div>
                <div ng-hide="pending">
                    <button class="btn btn-primary" type="button" ng-click="submit() &&  studyForm.$valid && $close(study)">OK</button>
                    <button class="btn btn-default" type="button" ng-click="$dismiss()">Cancel</button>
                </div>
            </div>
        </script>

    </body>
</html>